*{
  box-sizing: border-box;
  color: black;
  font-family: 'Raleway', sans-serif;
}

body {
  margin: 0 20px 0 20px;
  background-image: linear-gradient(to left bottom, #f1e9da, #bec3b3, #8e9e92, #617975, #3c555a, #354d55, #30444f, #2c3c49, #3b4c59, #4a5d6a, #5a6f7b, #6b818c);
}

.container{
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
}

.left{
  display: flex;
  flex-direction: column;
  flex: 0 0 420px;
  height: 100vh;
  align-self:center;
  align-items: center;
  justify-content: center;
}

.right{
  flex: 0 1 450px;
  padding: 10px;
  align-items: center;
}

.circle_container {
    justify-content: center;
    flex: 0 1 300px;
    display: flex;
    align-items: flex-end;
    height: 60vh;
}

.circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:stretch;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    background-color: rgb(241,233,218);
    height: 180px;
    border-radius: 50%;
    width: 180px;
}

.inside_circle_item{
  align-self: center;
  margin-bottom: 4px;
}

h1{
  font-size: 5rem;
  margin-bottom: 5px !important;
  font-family: 'Lato';
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to left top, #ff784f, #ff8149, #ff8a43, #ff933d, #ff9c37, #f79338, #ef8b38, #e78338, #d16a3c, #b7553e, #9a423d, #7c3238);
}

h4{
  color: #192734;
  margin-top: 0 !important;
  margin-bottom: 10px !important;
  font-size: 1.2rem;
  font-family: 'Lato', sans-serif;
}

input[type=text], input[type=password] {
  background-color: white;
  box-sizing: border-box;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
   border-radius: 20px;
   border: none;
   color: #192734;
   width: auto;
   height: 15px;
  text-align: center;
  padding: 2px;
  font-size: 0.5rem;
  margin-left: 10px;
  margin-right: 10px;
}

p{
  color: #F1E9DA;
}

ion-icon{
  color: #192734;
  background-color: white;
  border-radius: 50%;
}

button {
  background-image: linear-gradient(to right top, #ff9c37, #e57b3e, #c55f40, #a2463e, #7c3238);  color: white;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  justify-content: center;
  width: 50px;
  height: 20px;
  font-size: 0.5rem;
  font-weight: bold;
  align-self: center;
  margin-top: 2px;
}

.bounce-anim {
    animation-name: bounce;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}

@keyframes bounce {
    0%   { transform: scale(1,1)      translateY(-1000px); }
    10%  { transform: scale(1.1,.9)   translateY(0px); }
    30%  { transform: scale(.9,1.1)   translateY(-200px); }
    40%  { transform: scale(1.1,.9)   translateY(0); }
    50%  { transform: scale(.9,1.1)   translateY(-120px); }
    60%  { transform: scale(1.05,.95) translateY(0); }
    70%  { transform: scale(1,1)      translateY(-2px); }
    90%  { transform: scale(3,3)      translateY(0); }
    100% { transform: scale(2.5,2.5)  translateY(0); }
}
